#graf_idade_container {
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

#select_container {
  background-color: 	#bae1ff;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
}

label, select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
  font-size: 20px;
  border-radius: 10px;
  padding-right: 40px;
  text-align: center;
}